:root {
    --mc: #E21E2D;
}



.Curtain {
    background-image: url(../images/kfc_sprite.png);
    width: 250px;
    height: 120px;
}

.tit {
    font-size: 30px;
    font-weight: 600;
    margin: 25px 0 25px 0;
}

.btn {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    background: #211817;
    border-radius: 16px;
    color: #fff;
    padding: 24px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

/* ----------------------------------------------- */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    white-space: nowrap;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 50px 0 0 0;
}

.header .header_wrap {
    display: flex;
    align-items: center;
    padding: 0 250px;
}

.gnb {
    margin: 0 0 0 auto;
}

.header .nav>ul {

    display: flex;
    margin: 0 0 0 650px;
    gap: 30px;
}

.header .utils {
    position: relative;
    margin: 0 50px 20px 0;
    cursor: pointer;
}

.header .utils>li {
    margin: 50px 0 0 0;
    font-size: 14px;
    color: #555;
    /* 로그인,주문내역조회,고객센터,인재채용 */
}

/* .header .utils>li~li::before {
    content: "d";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: #ddd;
} */

.header .utils span::before {
    content: "";
    position: absolute;
    background: url(../images/icon_shop_3.png);
    top: 35px;
    right: -15px;
    width: 33px;
    height: 30px;
}

.header .menu {
    margin: 0 50px 20px 0;
}

.header .menu>li {

    position: relative;
    margin: 10px 0 0 0;
    font-size: 22px;
    font-weight: 500;
    /* 딜리버리 스토어 이벤트 */
}

.header .menu>li::before {
    content: "";

    position: absolute;
    display: block;
    top: 50px;
    left: 50%;
    z-index: 999;
    background: var(--mc);
    width: 0;
    transform: translate(-50%, 0);
    height: 1px;
    opacity: 0;
    transition: 0.3s;
}

.header .menu>li:hover::before {
    width: 100%;
    height: 1px;
    opacity: 1;
}

.header .menu>li::after {
    content: "";
    position: absolute;
    display: block;
    top: 48px;
    left: 50%;
    z-index: 999;
    background: var(--mc);
    border-radius: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: 0.3s;
}

.header .menu>li:hover::after {
    width: 6px;
    height: 6px;
    opacity: 1;
}

/* -------------------------------------------- */


.header .gnb {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

.header .gnb:before {
    content: "";
    position: absolute;
    top: 130px;
    left: 0;
    width: 0;
    height: 0;
    background: #fff;
    z-index: 999;

}

.header .gnb:hover::before {
    height: 240px;
    width: 500px;
}

.header .sub {
    height: 0;
    overflow: hidden;

    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    text-align: center;
    width: 100%;
    line-height: 30px;
    opacity: 0;
    transition: 0.3s;

}

.header .gnb:hover>ul>li .sub {
    height: 160px;
    opacity: 1;
}


.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .sub>li {
    font-size: 15px;
    font-weight: 300;
}

.header .sub>li:hover {
    color: var(--mc);
    font-weight: 400;
}


/* 탑 배너 끝 */

.mainVisual {
    position: relative;
    cursor: pointer;
}

.mainSlide .itm {
    height: 440px;
}

.mainSlide .itm01 {
    background: url(../images/main_v01.png) no-repeat center center/cover;
}

.mainSlide .itm02 {
    background: url(../images/main_v02.png) no-repeat center center/cover;
}

.mainSlide .itm03 {
    background: url(../images/main_v03.png) no-repeat center center/cover;
}

.mainSlide .itm04 {
    background: url(../images/main_v04.png) no-repeat center center/cover;
}

.mainSlide .itm05 {
    background: url(../images/main_v05.png) no-repeat center center/cover;
}

.mainSlide .itm06 {
    background: url(../images/main_v06.png) no-repeat center center/cover;
}

/* --------------▼ 버튼 ▼-------------- */

.mainVisual .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.mainVisual .slick-dots>li {
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
}

.mainVisual .slick-dots>li button {
    position: relative;
    width: 10px;
    height: 10px;
    background: #afa197;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 8px;

    border: none;
    font-size: 0;
}

.mainVisual .slick-dots>li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FFF;
}

.mainVisual .slick-dots>li.slick-active button::after {
    width: 100%;
}

.mainVisual .arrows {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    max-width: 1450px;
    width: 100%;
}

.mainVisual .arrows i {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: 1s;
}

.mainVisual .arrows .left {
    position: absolute;
    left: 0;
    top: 0;
}

.mainVisual:hover .arrows .left {
    transform: translate(30px, 0);
}

.mainVisual .arrows .right {
    position: absolute;
    right: 0;
    top: 0;
}

.mainVisual:hover .arrows .right {
    transform: translate(-30px, 0);
}


/* -------------------버튼 끝---------------------- */

.serve .paje {
    display: flex;
    gap: 28px;
    padding: 35px 0;
    cursor: pointer;
}

.serve img {
    max-width: 100%;
    vertical-align: top;
    border-radius: 20px;
}

/* --------------------------------------- */

.mainContent {
    position: relative;
    background: #f8f8f8;
    padding-bottom: 50px;
}

.mainContent h2 {
    margin: 40px 0;
}

.mainContent .case {
    text-align: center;
    margin: 30px 0;
}



.content_Slide {
    text-align: center;
    cursor: pointer;
}

.content_Slide figure {
    background: #FFF;
    border-radius: 25px;
    margin: 0 10px 40px 0;
    box-shadow: 4px 4px 10px 1px rgba(180, 180, 180, 0.3);
}

.content_Slide img {
    margin: 25px 0;
}

.content_Slide h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 50px 0 0 0;
}

.content_Slide p {
    color: #777;
    margin: 10px 0 20px 0;
}

.content_Slide strong {
    position: relative;
    display: block;
    font-size: 20px;
    color: var(--mc);
    margin: 30px 0 50px 0;
}

.content_Slide strong::before {
    content: "";
    position: absolute;
    background: url(../images/ico_price_red_sm.png);
    top: 3px;
    left: 190px;
    width: 16px;
    height: 16px;
    /* 화면 크키에 따라 요소 위치가 바뀜 */

}

/* -------------------- 버튼---------------------------- */


.mainContent .arrows {
    position: absolute;
    top: 13%;
    left: 86%;
    z-index: 999;

    max-width: 140px;
    width: 100%;
}

.mainContent .arrows i {
    padding: 10px;
    background: none;
    border: 2px solid rgb(255, 30, 45, 0.5);
    border-radius: 10px;
    color: rgb(255, 30, 45, 0.5);
    font-size: 35px;
    cursor: pointer;
}

.mainContent .arrows .left:hover {
    border: 2px solid var(--mc);
    color: var(--mc);
}

.mainContent .arrows .right:hover {
    border: 2px solid var(--mc);
    color: var(--mc);
}

/* -------------------버튼 끝------------------------- */

.banner_content {
    position: relative;
    height: 372px;
    background-color: var(--mc);
}

.banner_content .img {
    position: absolute;
    top: -48px;
    right: 300px;
}

.banner_content .txt {
    position: absolute;
    display: inline-block;
    top: 60px;
    left: 400px;
    max-width: 350px;
}

.banner_content .txt h3 {
    color: rgb(255, 255, 255, 0.7);
    font-size: 23px;
    font-weight: 200;
}

.banner_content .txt p {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 30px 0;
    color: #fff;
    font-family: 'Noto Serif KR', serif;
    font-style: italic;
}

.banner_content .case {
    max-width: 250px;
}

/* ---------------------------------------------------- */

.sns {
    background: url(../images/bg_fandom.jpg) no-repeat center center/cover;
}

.sns_content {
    display: flex;
    gap: 15px;
}

.sns_content li {
    width: 100%;
    height: auto;
    margin: 15px 0 50px 0;
    background: #f9f9f9;
    border-radius: 25px;
    box-shadow: 4px 4px 10px 1px rgba(180, 180, 180, 0.3);
}

.sns_content li img {
    border-radius: 25px 25px 0 0;
}

.sns_content li .txt {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
}

.sns_content li .txt h3 {
    font-size: 18px;
    color: #777;
}

.sns_content li .txt p {
    color: var(--mc);
    font-weight: 600;
}

/* ---------------------------------------------------- */

.youtube {
    padding: 0px 100px 100px 100px;
    background: #f8f8f8;
}

.youtube .tit {
    margin: 40px 0 50px 0;
}

.youtube .history {
    display: flex;
    gap: 100px;
}

.youtube .history>* {
    flex: 1;
}

.youtube .history .history_menu li {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0 0 0 30px;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.youtube .history .history_menu li strong {
    font-size: 17px;
    font-weight: 500;
    margin: 0 20px;
}

.youtube .history .history_menu li:hover {
    color: var(--mc);
    font-weight: 600;
}

.youtube .history .history_menu li:hover::before {
    content: "";
    position: absolute;
    left: 3px;
    top: -1px;
    width: 5px;
    height: 15px;
    background: var(--mc);
}

.youtube .history .history_menu li:hover::after {
    content: "";
    position: absolute;
    left: -9px;
    top: -16px;
    width: 33px;
    height: 35px;
    background: url(../images/icon_shop_3.png);
}

.youtube .history .history_menu li span {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}


.youtube .history .history_content li {
    height: 0;
    overflow: hidden;
}

.youtube .history .history_content li.on {
    height: auto;
}

.youtube .history .history_content figure {
    margin: 0 0 0 50px;
    display: flex;
}

.youtube .history .history_content figure .link_box {
    padding: 20px 20px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 4px 4px 10px 1px rgba(180, 180, 180, 0.3);
}

/* ------------------------------------------------------ */

.map {
    border-bottom: 1px solid #ddd;
    padding: 40px 100px;
}

.map h3 {
    margin: 0 0 50px 0;
}

.site_map {}

.site_map>ul {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.site_map .menu {}

.site_map .menu>li>a {
    font-size: 17px;
    font-weight: 600;
}

.site_map .menu .sub {
    margin: 20px 0;
    font-size: 13px;
    color: #777;
    line-height: 20px;
    font-weight: 300;
}

/* -------------------------------------------------- */

footer {
    padding: 40px 0;
    background: #202020;
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

footer .ft1 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    gap: 15px;
    color: #888;
}

footer strong {
    color: #deac55;
}

footer address {
    margin: 20px 0;
}

/* 

마저 해야할 것
* 맨 위 탑메뉴 가상요소로 중간에 줄 채우기 
* 다단메뉴 흰색으로 바탕 채우기
* 가상요소 화면 크기에 따라 위치 바뀌는거 해결
* youtube 글자 클릭하면 색상,아이콘,굵기 고정되는거
  + 더 깔끔하고 가독성 있게 디자인 하기
* 푸터 마무리

*/